<footer class="flex flex-col md:flex-row bg-primary text-white items-center text-xs md:text-sm text-justify px-10 pb-2">
    <div class="flex justify-center md:block-inline md:align-middle">
        <img src="assets/images/logo.png" alt="Logo de la Universitat Oberta de Catalunya"
            class="w-48 m-5 md:m3 md:w-96">
    </div>
    <b class="leading-5">This wireframe has been created exclusively for its use within the "HTML and CSS
        Tools II"
        course at the
        UOC'c
        Master Program in Website and Web App Development. Its reproduction and other uses are not authorized.<br>
        &copy; March 2021 - Jordi Tarrida Checa and Universitat Oberta de Catalunya.</b>

</footer>