<header class="bg-primary">
    <nav
        class="flex flex-row md:flex-row text-xs sm:text-sm md:text-base text-white items-center justify-between py-3 px-10 md:px-24">
        <a class="font-serif flex items-center" href="#" class="flex flex-row items-center">
            <p>&copy;</p><img src="assets/images/logoChess.png" class="w-12 sm:w-24">
        </a>
        <div class="text-right">
            <a class="font-serif px-1" href="index.html">Miembros del club</a>
            <a class="font-serif px-1" href="pageThree.html">Última noticia</a>
            <a class="font-serif px-1" href="#">Apertura</a>
        </div>
    </nav>
</header>