<article class="bg-secondary flex flex-col items-center font-serif px-10 md:px-24">
    <img src="https://s3.abcstatics.com/abc/www/multimedia/deportes/2023/04/30/ding-liren-RYms4S8C9ChwYRZnnpObPKM-758x531@abc.jpg"
        class="img-fluid mt-5" max-width="50%" height="auto" alt="Ding Liren, nuevo campeón del mundo de ajedrez" />
    <h1>Ding Liren, histórico sucesor de Carlsen en el trono del ajedrez: el primer chino campeón del mundo</h1>
    <time datetime="2023-04-30">30 de abril de 2023</time>
    <p>Por <a href="https://www.abc.es/autor/miguel-zarza-1395/" class="link">Miguel Zarza</a></p>

    <div class="text-justify mt-5 text-primary">
        <p class="mb-7">Después de una década de aplastante dominio en los tableros, el noruego <a
                href="https://www.abc.es/deportes/magnus-carlsen-renuncia-defender-titulo-campeon-mundo-20220720130959-nt.html"
                class="link">Magnus
                Carlsen decidió no
                defender su corona mundial</a>. El triunfo de Yan Nepomniashchi en el torneo de candidatos 2022, de
            donde
            sale el retador para el vigente campeón, provocó que el prodigio noruego, cansado de viejos rivales y
            formatos, diese un paso al costado el pasado julio, dejando el Campeonato del Mundo para el ruso y el
            chino Ding Liren, <a
                href="https://www.abc.es/deportes/abci-ding-liren-culmina-remontada-y-logra-esperanzadora-segunda-posicion-madrid-202207042256_noticia.html"
                class="link">segundo
                clasificado en la competición de aspirantes</a>. Curiosamente, había llegado como
            invitado a ese torneo en el último minuto para reemplazar al ruso Sergey Karjakin, vetado por la
            Federación Internacional de Ajedrez (FIDE) por su apoyo explícito a la invasión rusa de Ucrania. </p>

        <p class="mb-7">Ayer en Astaná (Kazajistán), y contra pronóstico, el <a
                href="https://www.abc.es/deportes/magnus-carlsen-zhongyi-ajedrecistas-dinero-ganaron-2022-20230108205124-nt.html"
                class="link">gran
                maestro</a> chino se convirtió en el primer
            ajedrecista de ese país en proclamarse campeón del mundo gracias a una ajustada victoria frente a
            Nepomniashchi. El duelo se acabó inclinando a su favor en el desempate de las partidas rápidas, después
            de una larga batalla mental de 14 partidas largas iniciada a comienzos del mes de abril, y que acabó con
            tres victorias para cada uno y ocho tablas.

        </p>
        <p class="mb-7">Un vibrante mano a mano en el que el ajedrez más conservador y preciso fue dejando paso a
            otra forma de
            jugar más visceral y arriesgada, en la que se vieron muchos más fallos de los que suelen ser habituales
            en estas lides, pero también constantes giros de guión que acabaron dando mucha más emoción al
            desenlace. Este llegó en la cuarta partida de desempate, después de tres nuevas tablas y varios errores
            encadenados en los nerviosos finalistas. El gran maestro chino, más valiente, acabó rindiendo a 'Nepo'.
        </p>

        <blockquote>
            <div>
                <p>«El momento en que Yan se rindió fue un momento muy emotivo. No podía controlar mis sentimientos»
                </p>
                <p class="blockquote-footer">Ding Liren</p>
            </div>
        </blockquote>

        <h2>Gran maestro y abogado
        </h2>
        <p class="mb-7">Nacido el 24 de octubre de 1992 en Wengzhou, con 16 años se convirtió en el campeón de China
            más joven de
            la historia. Graduado como abogado en la Universidad de Pekín, es un clásico producto de la escuela
            ajedrecística china. En 2015 logró entrar entre los diez primeros puestos de la clasificación de la
            FIDE, siendo el segundo jugador chino en conseguirlo tras Wang Yue, y en la actualidad ocupa el tercer
            lugar en la lista solo por detrás de Carlsen y Nepomniachtchi.</p>

        <p class="mb-7">Además desde este domingo se ha convertido en un pionero para el deporte de su país, pues si
            bien las
            jugadoras chinas dominan los torneos femeninos desde la década de los noventa, con Ju Wenjun como
            vigente campeona del mundo y Lei Tingjie como gran aspirante, nunca antes un compatriota de Liren había
            ganado este título supremo, abierto tanto a hombres como a mujeres.</p>
        <blockquote>
            <figure>
                <img src="https://images.chesscomfiles.com/uploads/v1/news/1210575.ed124634.5000x5000o.ed6485f48e18.png"
                    alt="Ding Liren en una fotografía" class="h-auto lg:h-48 lg:max-w-xs" />
            </figure>
            <div>
                <p class="mt-4 lg:ml-10 text-center">«Aprendí a jugar a los cuatro años porque mi lugar de
                    nacimiento
                    fue la que
                    era
                    considerada
                    la ciudad del
                    ajedrez en mi país. La atmósfera era ideal para aprender porque había varias escuelas y muchos
                    torneos,
                    y mi madre, que era enfermera, me llevó a aprender»</p>
                <p class="blockquote-footer">Ding Liren</p>
            </div>
        </blockquote>
    </div>

    <p class="mt-5">Referencia <a
            href="https://www.abc.es/deportes/historico-sucesor-carlsen-abogado-gran-maestro-ding-20230430192053-nt.html"
            class="link">ABC</a>
    </p>
</article>