<main class="bg-secondary flex flex-col items-center px-10 lg:px-22">
    <h1>Miembros del club de ajedrez</h1>

    <div class="text-primary sm:flex sm:flex-wrap sm:justify-center">
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/10.jpg" class="rounded-full w-32">
            <h2>Emilia</h2>
            <p>"Soy una estudiante de física de 21 años que también ama el ajedrez. Siempre encuentro tiempo para
                jugar algunas partidas en línea."</p>
            <p class="mt-4">ELO: 1462</p>
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/men/20.jpg" class="rounded-full w-32">
            <h2>Carlos</h2>
            <p>"Soy un abogado de 35 años que disfruta del ajedrez en mi tiempo libre. Me encanta la estrategia y el
                desafío mental que ofrece."</p>
            <p class="mt-4">ELO: 1789</p>
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/68.jpg" class="rounded-full w-32">
            <h2>Sara</h2>
            <p>"Soy una escritora de 29 años obsesionada con el ajedrez. Me inspira la creatividad y el pensamiento
                crítico que implica el juego."</p>
            <p class="mt-4">ELO: 2054</p>
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/men/19.jpg" class="rounded-full w-32">
            <h2>Tomás</h2>
            <p>"Soy un artista de 42 años que ha encontrado en el ajedrez una fuente de concentración y relajación.
                Me encanta jugar en el parque con mi tablero portátil."</p>
            <p class="mt-4">ELO: 1021</p>
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/65.jpg" class="rounded-full w-32">
            <h2>Olivia</h2>
            <p>"Soy una médica de 28 años que ve el ajedrez como una forma de mantener mi mente afilada. Me gusta
                desafiarme a mí misma para mejorar mi juego."</p>
            <p class="mt-4">ELO: 1837</p>
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/men/54.jpg" class="rounded-full">
            <h2>James</h2>
            <p>"Soy un emprendedor de 39 años que ha aprendido mucho sobre liderazgo y toma de decisiones jugando al
                ajedrez. Es un juego que me ha enseñado mucho sobre la vida."</p>
            <p class="mt-4">ELO: 892</p>
        </div>
    </div>
</main>